:root {
  --bg-color: #1d1e22;
  --text-color: #d4d4dc;
  --accent-color: #feda6a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.array-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  width: 100%;
}

.array-bar {
  width: .25vw;
  background-color: var(--accent-color);
  margin-top: 2vh;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
}